In [10]:
import pandas as pd

In [11]:
land = pd.read_csv('land.csv')
land.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RL,Land Use,4,Afghanistan,5110,Area,6633,Land under temp. meadows and pastures,2001,2001,1000 ha,0.0,I,Imputed value
1,RL,Land Use,4,Afghanistan,5110,Area,6633,Land under temp. meadows and pastures,2002,2002,1000 ha,0.0,I,Imputed value
2,RL,Land Use,4,Afghanistan,5110,Area,6633,Land under temp. meadows and pastures,2003,2003,1000 ha,0.0,I,Imputed value
3,RL,Land Use,4,Afghanistan,5110,Area,6633,Land under temp. meadows and pastures,2004,2004,1000 ha,0.0,I,Imputed value
4,RL,Land Use,4,Afghanistan,5110,Area,6633,Land under temp. meadows and pastures,2005,2005,1000 ha,0.0,I,Imputed value

In [12]:
cattle = pd.read_csv('cattle.csv')
cattle.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1961,1961,Head,2900000,A,Official figure
1,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1962,1962,Head,3200000,E,Estimated value
2,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1963,1963,Head,3300000,E,Estimated value
3,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1964,1964,Head,3350000,E,Estimated value
4,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1965,1965,Head,3400000,E,Estimated value

lets say we want to merge the value column from the land column onto the cattle dataframe

In [13]:
#first create a unique key in the cattle dataframe
cattle['key'] = cattle['Year'].astype(str) + cattle['Area'].astype(str)

#then create a unique key in the land dataframe
land['key'] = land['Year'].astype(str) + land['Area'].astype(str)

In [14]:
#now just filter the columns that we want from the land df. this will be the value and key column here
land = land[['key', 'Value']]
#rename value to land use Kha
land = land.rename(columns={'Value': 'Land Use Kha'})
land.head()

               key  Land Use Kha
0  2001Afghanistan           0.0
1  2002Afghanistan           0.0
2  2003Afghanistan           0.0
3  2004Afghanistan           0.0
4  2005Afghanistan           0.0

In [15]:
#now we can merge the two dataframes
cattle_merged = pd.merge(cattle_df, land_df, on='key')
cattle_merged

In [16]:
cattle_merged

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,key,Land Use Kha
0,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1961,1961,Head,2900000,A,Official figure,1961Afghanistan,30000.0000
1,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1962,1962,Head,3200000,E,Estimated value,1962Afghanistan,30000.0000
2,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1963,1963,Head,3300000,E,Estimated value,1963Afghanistan,30000.0000
3,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1964,1964,Head,3350000,E,Estimated value,1964Afghanistan,30000.0000
4,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2111,Cattle,1965,1965,Head,3400000,E,Estimated value,1965Afghanistan,30000.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14402,QCL,Crops and livestock products,716,Zimbabwe,5111,Stocks,2111,Cattle,2018,2018,Head,5316697,I,Imputed value,2018Zimbabwe,12100.0000
14403,QCL,Crops and livestock products,716,Zimbabwe,5111,Stocks,2111,Cattle,2019,2019,Head,5057563,A,Official figure,2019Zimbabwe,462.6432
14404,QCL,Crops and livestock products,716,Zimbabwe,5111,Stocks,2111,Cattle,2019,2019,Head,5057563,A,Official figure,2019Zimbabwe,12100.0000
14405,QCL,Crops and livestock products,716,Zimbabwe,5111,Stocks,2111,Cattle,2020,2020,Head,5195154,A,Official figure,2020Zimbabwe,465.8534
14406,QCL,Crops and livestock products,716,Zimbabwe,5111,Stocks,2111,Cattle,2020,2020,Head,5195154,A,Official figure,2020Zimbabwe,12100.0000